i {
    font-size: 24px;
}

input {
    width: 100%;
}

.static_section {
    height: 240px;
}

#site_main .row {
    --bs-gutter-x: 0;
}

.display_contacts {
    overflow-y: auto;
    height: calc(100vh - 240px);
}

.single_contact:hover {
    cursor: pointer;
}

.chat_profile {
    height: 96px;
}

.chat {
    height: calc(100vh - 192px);
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    overflow-y: scroll;
}

.texting {
    height: 96px;
}

.active {
    background-color: lightblue;
}

.messages_list {
    width: 70%;
    margin: auto;
}

.sent {
    background-color: lightseagreen;
    margin: 1rem;
    height: 36px;
    border-radius: 0.6rem;
}

.received {
    background-color: aliceblue;
    margin: 1rem;
    height: 36px;
    border-radius: 0.6rem;
}

.transparent {
    background-color: transparent;
    margin: 1rem;
    height: 36px;
}