<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzap</title>

    <!-- my CSS link -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- link bootstrap  -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous'>

    <!-- link fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div id="app">

        <!-- main WebApp page -->
        <main id="site_main">

            <!-- wrapper with viewport height fixed 100 -->
            <div class="wrapper vh-100">

                <div class="row">

                    <!-- left column of the page -->
                    <div class="col-3">

                        <!-- static block of information with fixed height -->
                        <div class="static_section">

                            <!-- first row my profile info -->
                            <div class="row justify-content-between align-items-center my_profile">

                                <!-- column in first row with my profile image and name -->
                                <div class="col-3">

                                    <div class="p-1 d-flex align-items-center">
                                        <img src="./assets/img/avatar_io.jpg" alt="" class="img-fluid p-1">
                                        <h6 class="p-1">Sofia</h6>
                                    </div>

                                </div>

                                <!-- column in first row with interactive icons -->
                                <div class="col-6">

                                    <div class="p-1 d-flex justify-content-end">
                                        <i class="fa-solid fa-circle-notch p-2"></i>
                                        <i class="fa-solid fa-message p-2"></i>
                                        <i class="fa-solid fa-ellipsis-vertical p-2"></i>
                                    </div>

                                </div>
                            </div>

                            <!-- second row notifications info -->
                            <div class="row">

                                <!-- bell section start with background color var(--bg-bell) -->
                                <div class="p-3 bell_section">

                                    <div class="p-1 d-flex align-items-center">

                                        <!-- div with centered bell icon -->
                                        <div class="bell_container d-flex justify-content-center align-items-center">
                                            <i class="fa-solid fa-bell-slash"></i>
                                        </div>

                                        <!-- description notify bell functions -->
                                        <div class="receive_notifications ms-3">
                                            <h6>Ricevi notifiche di nuovi messaggi</h6>
                                            <p class="text-decoration-underline">Attiva le notifiche desktop</p>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!-- third row search bar  -->
                            <div class="row">

                                <div class="p-1 d-flex align-items-center">

                                    <!-- magnifying glass icon centered horizontally -->
                                    <div class="col-2 d-flex justify-content-center">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>

                                    <!-- input search chat -->
                                    <div class="col-10">
                                        <input type="text" placeholder="Cerca o inizia una nuova chat"
                                            v-model="searchValue">
                                    </div>

                                </div>

                            </div>

                        </div>


                        <!-- fourth row contacts displayer with overflow -->
                        <div class="row p-2 display_contacts">


                            <!-- single contacts generated dinamically with Vue.js -->
                            <div class="col-12 single_contact" v-for="(object, index) in contactsList">

                                <!-- ternary operator for class 'active' and function on click to capture selected index -->
                                <div class=" d-flex align-items-center p-2"
                                    :class="activeIndex === index ? 'active' : ''" @click="setActiveIndex(index)">

                                    <!-- img url generated dinamically -->
                                    <img :src="'./assets/img/avatar'+ object.avatar +'.jpg'" alt=""
                                        class="img-fluid col-2">

                                    <!-- userName and last sent message -->
                                    <div class="p-2 col-10">
                                        <p class="m-0">ultimo messaggio il
                                            {{object.messages[object.messages.length-1].date.substring(0, 10)}}</p>
                                        <h5 class="m-0">{{object.name}}</h5>
                                        <p class="m-0">{{object.messages[object.messages.length-1].message}}</p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- right column of the page -->
                    <div class="col-9">

                        <!-- first row profile who i am chatting with -->
                        <div class="row chat_profile align-items-center justify-content-between">

                            <!-- column with image and contact name -->
                            <div class="col-4">

                                <div class="p-1 d-flex align-items-center">

                                    <img :src="'./assets/img/avatar'+ contactsList[activeIndex].avatar +'.jpg'" alt=""
                                        class="img-fluid p-1 col-3">

                                    <div class="name_and_access col-10">
                                        <h6 class="p-1 m-0">{{contactsList[activeIndex].name}}</h6>
                                        <p class="m-0 p-1" v-if="!online">Ultimo accesso il
                                            {{contactsList[activeIndex].messages[contactsList[activeIndex].messages.length-1].date.substring(0,
                                            10)}} alle
                                            {{contactsList[activeIndex].messages[contactsList[activeIndex].messages.length-1].date.substring(10,
                                            19)}} </p>

                                        <p v-else>{{writing}}</p>
                                    </div>

                                </div>

                            </div>

                            <!-- column with intercative icons -->
                            <div class="col-6">

                                <div class="p-1 d-flex justify-content-end">
                                    <i class="fa-solid fa-magnifying-glass p-3"></i>
                                    <i class="fa-solid fa-paperclip p-3"></i>
                                    <i class="fa-solid fa-ellipsis-vertical p-3"></i>
                                </div>

                            </div>

                        </div>

                        <!-- chat display section with overflow -->
                        <div class="chat">

                            <div>

                                <!-- dinamically generated messages -->

                                <div v-if="contactsList[activeIndex].messages.length > 0"
                                    class="messages_list d-flex flex-column">

                                    <!-- v-for directive to generate in DOM every message with rightful class -->
                                    <div v-for="(object,index) in contactsList[activeIndex].messages"
                                        :class="object.status === 'received' ? 'received': 'sent'" class="dropdown">

                                        <!-- single message with dropdowm menù -->
                                        <div class="p-2 position-relative" type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            {{object.message}}
                                            <div class="time_message position-absolute bottom-0 end-0">
                                                {{object.date.substring(10,
                                                16)}}</div>
                                        </div>


                                        <!-- dropdown menù options -->
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Message info</a></li>
                                            <li><a class="dropdown-item" href="#" @click="deleteMessage(index)">Delete
                                                    message</a></li>
                                        </ul>


                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- bottom texting area -->
                        <div class="texting d-flex align-items-center">

                            <!-- row with column division -->
                            <div class="row container-fluid">

                                <!-- first column for smile icon -->
                                <div class="col-2">

                                    <div class="d-flex justify-content-center">
                                        <i class="fa-regular fa-face-smile"></i>
                                    </div>

                                </div>

                                <!-- second column for input messages -->
                                <div class="col-8">

                                    <div>
                                        <input type="text" placeholder="Scrivi qui un messaggio"
                                            v-model="newMessageSent.message" @keyup.enter.stop="sendMessage()">
                                    </div>

                                </div>

                                <!-- third column for audio messages icon -->
                                <div class="col-2">

                                    <div class="d-flex justify-content-center" v-if="newMessageSent.message.length === 0">
                                        <i class="fa-solid fa-microphone"></i>
                                    </div>

                                    <div v-else="" class="d-flex justify-content-center">
                                        <i class="fa-solid fa-paper-plane" @click.stop="sendMessage()"></i>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </main>

    </div>


    <!-- CDN for Vue.js -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

    <!-- my script JS  -->
    <script src="./assets/js/script.js"></script>

    <!-- script bootstrap -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8'
        crossorigin='anonymous'></script>


</body>

</html>